#hello {
  color: white;
}
body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  text-align: center;
  background-color: black;
  height: 100%;
}

#dashboard-header {
  color: white;
}
#dashboard-container {
  margin-top: 50%;
  margin-bottom: 50%;
}

.dashboard {
  display: inline-block;
}
.icon-text {
  margin-bottom: 10px;
}

.left-column {
  float: left;
  display: grid;
}
.icon {
  display: block;
  transition: all 0.2s ease-in-out;
  color: white;
}
.icon:hover {
  transform: scale(1.1);
}
.right-column {
  float: right;
}
.balance-view {
  width: 220px;
  height: 100px;
  margin: 10px 0 0 -10px;
  background: white;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
}

#balance-shown {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.inner-expense {
  display: block;
}
#test {
  color: white;
}
